@use "/src/styles/utils/_mixins.scss" as *;

.feedbacks {
  margin-block: 40px 120px;

  @include on-desktop {
    margin-block: 96px 160px;
  }

  &__title {
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-weight: 600;

    @include on-desktop {
      font-size: 40px;
      grid-column: 2 / 3;
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 32px;

      @include desktop-grid;
    }
  }

  &__comments {
    @include tablet-grid;
    @include desktop-grid;
  }
}
