@use '/src/styles/utils/colors' as *;
@use '/src/styles/utils/mixins' as *;

.input {
  border: 1px solid $white;
  border-radius: 32px;
  color: $white;
  outline: none;
  background-color: inherit;
  padding: 13px 16px;

  &--error {
    border-color: $red;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &__error {
      color: $red;
      margin-block: 8px 0px;
      font-size: 12px;
    }
  }

  &-title {
    color: $white;
    margin-bottom: 16px;
  }
}