@use "/src/styles/utils/_colors.scss" as *;
@use "/src/styles/utils/_mixins.scss" as *;

.footer {
  padding: 24px 20px;
  border-top: 1px solid $gray;

  &__navigation {
    @include on-desktop {
      margin-bottom: 104px;
    }
  }

  &__item {
    list-style-type: none;
    color: #fff;

    &--sm {
      @include on-mobile {
        margin-top: 16px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &--phone {
      margin-top: 32px;
    }

    &--policy {
      margin-top: 32px;

      &:hover {
        text-decoration: underline;
      }
    }

    &--mail,
    &--phone {
      margin-bottom: 8px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &--phone,
    &--mail {
      font-size: 24px;
      font-weight: 600;

      @include on-desktop {
        font-size: 64px;
        font-weight: 300;
      }
    }
  }

  &__contacts-list {
    margin: 0;
    padding: 0;

    @include on-desktop {
      margin-top: 119px;
    }

    @include tablet-grid;
    @include desktop-grid;

    &__direct-contacts {
      @include on-tablet {
        grid-column: 1 / 3;
      }

      @include on-desktop {
        grid-column: 2 / 6;
      }
    }

    &__sm {
      @include on-tablet {
        & :not(:first-child):not(:last-child) {
          margin-top: 16px;
        }

        grid-column: 4;
      }

      @include on-desktop {
        & :last-child {
          margin-top: 32px;
        }

        & :not(:first-child):not(:last-child) {
          margin-top: 16px;
        }

    
        grid-column: -3 / -1;
      }
    }
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 52px;

    @include on-desktop {
      @include desktop-grid;
    }

    &-logo-link {
      width: 114px;
      height: 30px;
      background-image: url("/public/images/logos/vinyla.svg");
      background-size: contain;
      flex-shrink: 0;
      background-position: center;
      background-repeat: no-repeat;

      @include on-desktop {
        grid-column: 2 / 3;
      }
    }

    &-text {
      color: #fff;

      @include on-desktop {
        grid-column: -3 / -2;
      }
    }
  }
}
