@use "/src/styles/utils/mixins" as *;
@use "/src/styles/utils/colors" as *;

.step-two-wrap {
  @include desktop-grid;
  @include on-desktop {
    padding-inline: 0;
  }
}

.form {
  @include on-desktop {
    grid-column: span 7;
    margin-bottom: 120px;
  }

  &__section {
    margin-block: 56px;

    &-inputs-wrap {
      display: flex;
      gap: 24px;

      > * {
        width: calc(50% - 12px);
      }
    }

    &-title {
      font-size: 24px;
      color: $white;
      font-weight: 600;
      margin-bottom: 32px;
    }
  }

  &__payment-method {
    & :nth-child(2) {
      margin-bottom: 16px;
    }

    & :nth-child(3) {
      margin-bottom: 24px;
    }

    & :nth-child(4) {
      padding-top: 24px;
      border-top: 1px solid white;
    }
  }

  &__place-order {
    font-family: Switzer;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 200px;
    border: none;

    @include on-desktop {
      font-size: 24px;
    }

    &:hover {
      cursor: pointer;
      background-color: #e0e0e0;
    }

    &:disabled {
      pointer-events: none;
      background-color: $neutral-gray;
    }
  }
}

.order-summary {
  @include on-desktop {
    grid-column: 9 / -1;
    margin-top: -60px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: $white;
    margin: 0;

    @include on-mobile {
      margin-top: 40px;
    }

    @include on-desktop {
      font-size: 32px;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block: 16px 40px;

    @include on-desktop {
      margin-block: 40px;
    }
  }

  &__shipping {
    &-title {
      color: $white;
      margin: 0;
    }

    &-price {
      color: $white;
      font-weight: 500;
      margin: 0;
    }
  }

  &__subtotal {
    &-title {
      color: $white;
      margin: 0;
    }

    &-price {
      color: $white;
      font-weight: 500;
      margin: 0;
    }
  }

  &__total {
    &-title {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      margin: 0;
    }

    &-price {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      margin: 0;
    }
  }

  &__prices {
    margin-bottom: 72px;

    &-subsection:not(:last-child) {
      border-bottom: 1px solid $white;
    }

    &-subsection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 13px;
    }
  }
}
