@use '/src/styles/utils/colors' as *;
@use '/src/styles/utils/mixins' as *;

.cart-form {
  @include desktop-grid;
  @include on-desktop {
    margin-block: 40px;
    padding-inline: 0;
  }

  &__table {
    width: 100%;

    margin-bottom: 40px;

    @include on-desktop {
      grid-column: span 7;
      margin-bottom: 0;
    }

    &--checkout {
      margin-top: 40px;
    }
  
    &-titles {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      column-gap: 20px;
  
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $white;
    }
  
    &-title {
      color: $white;
      font-size: 16px;
      font-weight: 600;
  
      &--product {
        grid-column: span 5;
        justify-self: start;
      }
  
      &--quantity {
        grid-column: span 1;
        justify-self: start;
      }
  
      &--delete {
        grid-column: span 1;
        justify-self: end;
      }
    }
  
    &-body {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}