@use "/src/styles/utils/colors" as *;
@use "/src/styles/utils/mixins" as *;

.main {
  padding-inline: 20px;
}

.hero {
  margin-bottom: 56px;


  @include desktop-grid;

  @include on-desktop {
    margin-bottom: 100px;
  }

  &__banner {
    width: 100%;

    @include on-tablet {
      width: 75vw;
      margin: 0 auto;

      display: flex;
      justify-content: center;
    }

    @include on-desktop {
      width: 100%;
      grid-column: 5 / 9;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: $white;
    text-align: center;
    margin-block: 40px;

    @include on-desktop {
      grid-column: 3 / 11;
    }
  }

  &__contact-us-btn {
    width: 100%;
    height: 48px;
    background-color: $white;

    border: none;
    border-radius: 200px;

    color: $body-background;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: $button-hover;
    }

    @include on-tablet {
      width: 75vw;

      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include on-desktop {
      width: 100%;
      height: 64px;
      font-size: 24px;
      grid-column: 5 / 9;
    }
  }
}

.services {
  margin-bottom: 56px;

  @include apply-appear-on-scroll;
  @include desktop-grid;

  @include on-desktop {
    margin-bottom: 64px;

    & > * {
      grid-column: span 6;
    }
  }
}