@use "/src/styles/utils/mixins.scss" as *;
@use "/src/styles/utils/colors" as *;

.main {
  padding-inline: 20px;
}

.cart-wrap {
  @include desktop-grid;
}

.cart-steps {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block: 40px;

  @include on-mobile {
    overflow-x: hidden;
  }

  @include desktop-grid;
  @include on-desktop {
    padding-inline: 0;
    margin-block: 0;
  }
}

.cart-form {
  @include desktop-grid;
  @include on-desktop {
    margin-block: 40px;
    padding-inline: 0;
  }

  &__table {
    @include on-desktop {
      grid-column: span 7;
    }
  
    &-titles {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      column-gap: 20px;
  
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $white;
    }
  
    &-title {
      color: $white;
      font-size: 16px;
      font-weight: 600;
  
      &--product {
        grid-column: span 5;
        justify-self: start;
      }
  
      &--quantity {
        grid-column: span 1;
        justify-self: start;
      }
  
      &--delete {
        grid-column: span 1;
        justify-self: end;
      }
    }
  
    &-body {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-desktop {
      grid-column: 9 / -1;
    }

    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-subtotal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 13px;

      &-title {
        margin: 0;
        font-size: 16px;
        color: $white;
      }

      &-price {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: $white;
      }
    }

    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 13px;

      &-title {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: $white;
      }

      &-price {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: $white;
      }
    }

    &-delivery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $white;
      padding-block: 13px;

      &-title {
        margin: 0;
        color: $white;
      }

      &-price {
        margin: 0;
        color: $white;
      }
    }
  }

  &__checkout {
    font-size: 24px;
    font-weight: 600;
    border-radius: 200px;
    height: 64px;

    &:hover {
      background-color: #e0e0e0;
      cursor: pointer;
    }
  }

  &__delivery-type-radio {
    width: 100%;
    background: red;
  }
}


.have-a-coupon {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  grid-template-rows: repeat(3, auto);
  margin-bottom: 120px;

  &__title {
    grid-row: 1;
    grid-column: span 12;
    color: $white;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    grid-column: span 12;
    grid-row: 2;
    color: $white;
    font-size: 16px;
    margin-block: 8px 16px;
  }

  &__input-container {
    grid-row: 3;
    grid-column: span 4;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $white;
    border-radius: 32px;
    padding-inline: 48px 16px;
    background-color: inherit;
  }

  &__input {
    flex: 1;
    background: none;
    border: none;
    color: $white;
    font-size: 16px;
    padding: 13px 0;
    caret-color: $white;

    &:focus {
      outline: none;

      &::placeholder {
        transition: color .8s;
        color: $neutral-gray;
      }
    }

    &::placeholder {
      color: $white;
      font-size: 16px;
      transition: color .8s;
    }
  }

  &__icon {
    position: absolute;
    left: 16px;
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  &__apply {
    margin-left: auto;
    background: none;
    border: none;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__photo {
    width: 50vw;
    height: 50vh;
  }

  &__title {
    font-size: 30px;
  }

  &__go-shopping {
    @include button;
    @include button__link;
  }
}