@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/colors' as *;

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__photo {
    width: 50vw;
    height: 50vh;
  }

  &__title {
    color: $white;
    font-size: 30px;
    font-weight: 500;
  }

  &__go-shopping {
    @include button;
    @include button__link;
  }
}