@use "/src/styles/utils/mixins" as *;
@use "/src/styles/utils/_colors.scss" as *;

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  border-radius: 16px;
  box-sizing: border-box;
  outline: none;
  grid-column: span 3;
  width: 100%;
  height: 100%;
  
  
  @include on-desktop {
    min-width: 335px;
    min-height: 416px;
  }
  
  @include on-tablet {
    justify-self: center;
  }

  &:hover {
    outline: 2px solid $gray;
    cursor: pointer;
  }
  
  &:active {
    background-color: $gray;
  }
  
  &--on-product-page {
    @include on-mobile {
      min-height: 200px;
      grid-column: span 2;
    }
    
    @include on-tablet {
      min-height: 200px;
      grid-column: span 1;
    }
    
    @include on-desktop {
      min-height: 410px;
      grid-column: span 3;
    }
  }

  &--0 {
    @include on-mobile {
      grid-column: span 2;
    }
    
    @include on-tablet {
      grid-column: span 1;
    }
    
    @include on-desktop {
      grid-column: 2 / 5;
    }
  }
  
  &--1 {
    @include on-mobile {
      grid-column: span 2;
    }
    
    @include on-tablet {
      grid-column: span 1;
    }
    
    @include on-desktop {
      grid-column: 5 / 8;
    }
  }
  
  &--2 {
    @include on-mobile {
      grid-column: span 2;
      grid-row: 4;
    }
    
    @include on-tablet {
      grid-column: 3;
      grid-row: 4;
    }
    
    @include on-desktop {
      grid-row: 3;
      grid-column: 6 / 9;
    }
  }
  
  &--3 {
    @include on-mobile {
      grid-column: span 2;
      grid-row: 4;
    }
    
    @include on-tablet {
      grid-column: 4;
      grid-row: 4;
    }
    
    @include on-desktop {
      grid-row: 3;
      grid-column: 9 / 12;
    }
  }
  
  &__photo {
    margin-top: 8px;
    flex-shrink: 0;
    width: 90%;
    
    @include on-tablet {
      max-width: 250px;
      max-height: 250px;
      margin-top: 10px;
    }
    
    @include on-desktop {
      margin-top: 28px;
      width: 270px;
      height: 270px;
    }
  }
  
  &__title {
    color: $white;
    font-weight: 500;
    text-align: center;
    padding-inline: 5px;
    flex-shrink: 0;
    margin: 0;
    margin-top: 10px;
    
    font-size: 14px;
    
    @include on-tablet {
      font-size: 16px;
      margin-block: 10px 0;
    }
    
    @include on-desktop {
      font-size: 20px;
      font-weight: 400;
      margin-block: 24px 0;
    }
  }
  
  &__price {
    color: $white;
    font-weight: 600;
    font-size: 16px;
    flex-shrink: 0;
    text-align: center;
    margin-block: 3px 14px;
    
    @include on-tablet {
      font-size: 20px;
      margin-block: 3px 14px;
    }
    
    @include on-desktop {
      margin-block: 7px 24px;
      font-size: 24px;
    }
  }
}