@use '/src/styles/utils/_mixins.scss' as *;

.products {
  @include all-grids;

  @include on-mobile {
    row-gap: 16px;
    padding: 0;
  }

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    padding-inline: 24px;
    row-gap: 16px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    row-gap: 16px;
  }

  @include on-desktop {
    margin-bottom: 100px;
    row-gap: 40px;
  }

  &__product {
    @include on-mobile {
      min-height: 200px;
      grid-column: span 2;
    }

    @include on-tablet {
      min-height: 240px;
      grid-column: span 2;
    }

    @include on-desktop {
      min-height: 353px;
      grid-column: span 3;
    }
  }
}