@use '/src/styles/utils/colors' as *;
@use '/src/styles/utils/mixins' as *;

.service {
  border-top: 1px solid $neutral-gray;
  border-bottom: 1px solid $neutral-gray;

  padding: 20px;

  @include on-tablet {
    padding: 36px 24px;
  }

  @include on-desktop {
    padding: 36px 72px;
  }

  &__icon-title-wrapper {
    display: flex;
    gap: 16px;

    margin-bottom: 16px;
  }

  &__icon {
    width: 32px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    color: $white;
    margin: 0;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__description {
    font-size: 16px;
    color: $white;
    margin: 0;

    @include on-tablet {
      font-size: 20px;
    }
  }
}