@use "/src/styles/utils/mixins" as *;
@use "/src/styles/utils/colors" as *;

.cart-table {
  &__product {
    display: flex;
    gap: 48px;
    
    &--mobile {
      justify-content: space-between;
      width: calc(100vw - 44px);
      gap: 24px;
    }

    &-row {
      @include on-tablet {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 20px;
      }

      // &--mobile {
      //   display: flex;
      //   flex-direction: column;
      // }
    }
  }

  &__quantity {
    color: $white;
    align-self: center;
    justify-self: start;
  }

  &__delete {
    align-self: center;
    justify-self: end;

    &-icon {
      width: 32px;
      height: 32px;

      @include on-tablet {
        width: 42px;
        height: 42px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.product {
  &__mobile-wrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 16px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 12px;

    @include on-desktop {
      gap: 16px;
    }

    &--mobile {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: center;
    }

    &--in-checkout {
      align-items: start;
    }
  }

  &__photo {
    transition: transform 0.4s;

    width: 32vw;
    height: 32vw;

    @include on-tablet {
      width: 20vw;
      height: 20vw;
    }

    @include on-desktop {
      width: 176px;
      height: 176px;
    }

    &:hover {
      cursor: pointer;

      transform: scale(1.01);
      transition: transform 0.4s;
    }
  }

  &__title {
    text-align: left;
    white-space: normal;
    max-width: 360px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: $white;

    &--mobile {
      text-align: start;
      white-space: nowrap;
    }

    @include on-desktop {
      font-size: 28px;
      font-weight: 600;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
      cursor: pointer;
    }
  }

  &__price {
    align-self: start;
    margin: 0;
    color: $white;
    font-size: 14px;
    font-weight: 400;

    @include on-desktop {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.th {
  grid-column: span 5;
}

.order-summary__product {
  display: flex;
  gap: 48px;
}

// styles for checkout details case
// .product {
//   &__
// }

.product {
  &__quantity-and-delete-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }
}
