@use "./vars" as *;
@use "./_colors.scss" as *;

@mixin on-mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin mobile-grid {
  @media (max-width: $mobile-max-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 16px;
    column-gap: 16px;
  }
}

@mixin tablet-grid {
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 20px;
    column-gap: 20px;
  }
}

@mixin desktop-grid {
  @media (min-width: $desktop-min-width) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-inline: 20px;
    column-gap: 20px;
  }
}

@mixin all-grids {
  @include mobile-grid;
  @include tablet-grid;
  @include desktop-grid;
}

@mixin button {
  font-family: Switzer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 16px;
  border: none;
  padding: 0;
  background-color: #fff;

  &:hover {
    background-color: $button-hover;
  }
}

@mixin button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 48px;
  text-decoration: none;
  color: #000;

  @include on-desktop {
    width: 216px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@mixin apply-appear-on-scroll {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}