@mixin text-style($font-size, $line-height, $font-weight: normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

h1 {
  @include text-style(64px, 96px);
}

h2 {
  @include text-style(40pt, 60px);
}

h3 {
  @include text-style(32pt, 48px);
}

h4 {
  @include text-style(24pt, 36px);
}

h5 {
  @include text-style(20pt, 30px);
}

h6 {
  @include text-style(16pt, 24px);
}

@mixin secondary-text {
  @include text-style(16pt, 24px);
}
