@use '/src/styles/utils/colors' as *;
@use '/src/styles/utils/mixins' as *;

$arrow--recommended-size: 40px;
$arrow--recommended-size-desktop: 48px;

.arrow {
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid $white;

  &:hover {
    background-color: $neutral-gray;
    cursor: pointer;
  }

  &--pagination {
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    background-color: inherit;

    @include on-desktop {
      width: 48px;
      height: 48px;
    }

    &--prev {
      background-image: url("/public/images/icons/previous-page-active.svg");
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        cursor: pointer;
        background-color: $neutral-gray;
      }

      &:disabled {
        background-image: url("/public/images/icons/previous-page-disabled.svg");
        pointer-events: none;
        cursor: default;
        border-color: $neutral-gray;
      }
    }

    &--next {
      background-image: url("/public/images/icons/next-page-active.svg");
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-color: $neutral-gray;
        border-color: $secondary;
        cursor: pointer;
      }

      &:disabled {
        background-image: url("/public/images/icons/next-page-disabled.svg");
        border-color: $neutral-gray;
        pointer-events: none;
        cursor: default;
      }
    }
  }

  &--recommended {
    position: absolute;

    width: $arrow--recommended-size;
    height: $arrow--recommended-size;
    top: calc(50% - $arrow--recommended-size / 2);

    @include on-desktop {
      width: $arrow--recommended-size-desktop;
      height: $arrow--recommended-size-desktop;
      top: calc(50% - $arrow--recommended-size-desktop / 2);
    }

    &--prev {
      background-image: url("/public/images/icons/previous-page-active.svg");
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;

      &:disabled {
        background-image: url("/public/images/icons/previous-page-disabled.svg");
        border-color: $neutral-gray;

        &:hover {
          cursor: default;
          background-color: inherit;
        }
      }
    }

    &--next {
      background-image: url("/public//images/icons/next-page-active.svg");
      background-position: center;
      background-repeat: no-repeat;
      right: 0%;

      &:disabled {
        background-image: url("/public/images/icons/next-page-disabled.svg");
        border-color: $neutral-gray;

        &:hover {
          cursor: default;
          background-color: inherit;
        }
      }
    }
  }

  &--breadcrumbs {
    width: 48px;
    height: 48px;
    border: 1px solid $white;
    border-radius: 50%;
    background-color: inherit;
    margin-right: 8px;

    background-image: url("/public/images/icons/previous-page-active.svg");
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
  }
}