@use "/src/styles/utils/_mixins.scss" as *;
@use "/src/styles/utils/_colors.scss" as *;

.header {
  box-sizing: border-box;
  padding: 36px 20px 0;

  @include on-desktop {
    padding-top: 78px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__navigation {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    padding: 26px 60px;

    &:hover {
      background-color: $gray;
      border-radius: 4px;
    }

    &--active {
      color: #fff;
    }

    &--buy {
      font-weight: 600;
    }
  }

  &__top-bar {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 3px 36px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: padding-inline 0.4s;
    background-color: #111;
    z-index: 2;

    @include on-tablet {
      padding-inline: 24px;
    }

    @include on-desktop {
      padding-block: 24px;
      padding-inline: 120px;
    }

    &--product-page {
      padding-inline: 20px;
      transition: padding-inline 0.4s;
    }
  }

  &__brand {
    &-link {
      display: block;
      width: 112px;
      height: 30px;
      background-image: url("/src/images/logos/vinyla.svg");
      flex-shrink: 0;
    }
  }

  &__menu {
    &-link {
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      
      @include on-desktop {
        display: none;
        pointer-events: none;
      }
      
      &--entry {
        background-image: url("/src/images/icons/burger-menu.svg");
      }

      &--exit {
        background-image: url("/src/images/icons/cancel.svg");
      }
    }

    &-exit {
      width: 24px;
      height: 24px;
    }

    &-cart-wrap {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  &__hero {
    height: calc(100vh - 36px);
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-inline: 16px;

    background-image: url("/src/images/banners/hero-section-banner.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-width: 780px) {
      background-size: 90%;
    }

    @media (min-width: 860px) {
      background-size: 80%;
    }

    @media (min-width: 960px) {
      background-size: 70%;
    }

    @media (min-width: 1100px) {
      background-size: 65%;
    }

    &-img {
      width: 100%;
    }

    &-subtitle {
      margin: 0;
      padding-top: 24px;
      color: $white;

      @include on-tablet {
        padding-top: 22px;
      }

      @include on-desktop {
        padding-top: 80px;
        font-size: 20px;
      }
    }

    &-title {
      margin: 0;
      padding-block: 24px;
      text-align: center;
      font-size: 32px;
      color: $white;
      font-weight: normal;

      @include on-desktop {
        font-size: 80px;
        line-height: 88px;
      }

      &-bold {
        font-family: Switzer;
        font-weight: 600;
      }
    }

    &-tagline {
      font-size: 14px;
      text-align: center;
      color: $white;
      margin: 0;
    }

    &-button {
      margin-top: 90px;

      @include button;

      @include on-desktop {
        margin-top: 150px;
      }

      &__link {
        @include button__link;
      }
    }
  }

  &__cart {
    position: relative;

    &-link {
      display: inline-block;
      width: 24px;
      height: 24px;
  
      background-image: url('/src/images/icons/cart.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      flex-shrink: 0;
      transition: transform .4s;
  
      @include on-desktop {
        width: 32px;
        height: 32px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &-quantity {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      bottom: 0;
      right: 0;
      margin: 0;
      color: $white;
      background-color: #111;
    }
  }
}
