.contacts__list {
  margin: 0;
  padding: 0;

  display: flex;

  @include on-mobile {
    margin-top: 24px;
    justify-content: space-between;
  }

  @include on-tablet {
    gap: 64px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    gap: 44px; // designer told so
  }
}

.list__item {
  list-style-type: none;

  &-link {
    font-size: 16px;
    text-decoration: none;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}