@use '/src/styles/utils/mixins' as *;
@use '/src/styles/utils/colors' as *;

.cart-form {
  @include desktop-grid;
  @include on-desktop {
    margin-block: 40px;
    padding-inline: 0;
  }

  &__table {
    width: 100%;

    margin-bottom: 40px;

    @include on-desktop {
      grid-column: span 7;
      margin-bottom: 0;
    }
  
    &-titles {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      column-gap: 20px;
  
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $white;
    }
  
    &-title {
      color: $white;
      font-size: 16px;
      font-weight: 600;
  
      &--product {
        grid-column: span 5;
        justify-self: start;
      }
  
      &--quantity {
        grid-column: span 1;
        justify-self: start;
      }
  
      &--delete {
        grid-column: span 1;
        justify-self: end;
      }
    }
  
    &-body {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-desktop {
      grid-column: 9 / -1;
    }

    &-inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-subtotal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 13px;

      &-title {
        margin: 0;
        font-size: 16px;
        color: $white;
      }

      &-price {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: $white;
      }
    }

    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-block: 13px;

      &-title {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: $white;
      }

      &-price {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: $white;
      }
    }

    &-delivery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $white;
      padding-block: 13px;

      &-title {
        margin: 0;
        color: $white;
      }

      &-price {
        margin: 0;
        color: $white;
      }
    }
  }

  &__checkout {
    height: 48px;
    font-weight: 600;
    border-radius: 200px;
    font-size: 16px;
    margin-bottom: 72px;
    border: none;
    outline: none;
    background-color: $white;
    
    @include on-desktop {
      height: 64px;
      font-size: 24px;
    }
    
    &:hover {
      background-color: $button-hover;
      cursor: pointer;
    }
  }

  &__delivery-type-radio {
    width: 100%;
    background: red;
  }
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  &__photo {
    width: 50vw;
    height: 50vh;
  }

  &__title {
    font-size: 30px;
  }

  &__go-shopping {
    @include button;
    @include button__link;
  }
}