@use "/src/styles/utils/_mixins.scss" as *;
@use "/src/styles/utils/colors" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
  margin-block: 56px 120px;

  @include on-tablet {
    margin-bottom: 9px;
  }

  @include on-desktop {
    margin-block: 56px 105px;
  }

  &__pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @include on-desktop {
      gap: 4px;
    }
  }

  &__page {
    color: $neutral-gray;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

    @include on-desktop {
      padding: 10px 22px;
    }

    &--active {
      color: $white;
    }

    &:hover {
      color: $white;
      text-decoration: underline;
      text-decoration-color: $white;
    }

    @include on-desktop {
      font-size: 24px;
    }
  }
}
