@use "/src/styles/utils/colors" as *;
@use "/src/styles/utils/mixins" as *;

.confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 40px 72px;

  @include on-desktop {
    margin-block: 88px 120px;
  }

  &__thank {
    font-size: 24px;
    font-weight: 600;
    color: $neutral-gray;
    margin-block: 0 24px;
    text-align: center;

    @include on-desktop {
      font-size: 32px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    color: $white;
    margin: 0;
    text-align: center;

    @include on-desktop {
      font-size: 64px;
    }
  }

  &__products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-block: 40px;

    @include mobile-grid;
    @include tablet-grid;

    @include on-desktop {
      display: flex;
    }
  }

  &__order-details {
    margin-bottom: 40px;

    &-detail {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 20px;

      &-title {
        font-size: 16px;
        font-weight: 500;
        grid-column: span 2;
        color: $neutral-gray;
        margin: 0 73px 0 0;
        display: flex;
        align-items: center;

        @include on-desktop {
          font-size: 20px;
          font-weight: normal;
        }
      }

      &-info {
        font-size: 20px;
        font-weight: 500;
        grid-column: span 2;
        color: $white;
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;
        
        @include on-tablet {
          justify-self: end; // !important
        }

        @include on-desktop {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  &__go-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    font-family: Switzer, sans-serif;
    font-size: 16px;
    font-weight: 600;

    padding: 10px;
    border: none;
    border-radius: 200px;

    @include on-desktop {
      width: 60vw;
      font-size: 24px;
    }

    &:hover {
      cursor: pointer;
      background-color: $button-hover;
    }
  }
}

.product {
  position: relative;

  @include on-mobile {
    grid-column: span 2;
  }

  @include on-tablet {
    grid-column: 3;
  }

  &--is-single {
    grid-column: 2 / 4;
    
    @include on-tablet {
      justify-self: center;
      width: 50%;
    }

    @include on-desktop {
      justify-self: unset;
      width: 100%;
    }
  }

  &--is-odd {
    @include on-tablet {
      grid-column: 2;
    }
  }

  &__photo {
    width: 100%;
    max-width: 250px;

    @include on-desktop {
      width: 10vw;
      // width: 148px;
      // height: 148px;
    }
  }

  &__quantity {
    margin: 0;
    width: 50px;
    height: 50px;
    background-color: $body-background;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    font-weight: 600;
    color: $white;

    position: absolute;
    top: 0;
    right: 0;
  }
}
