@use "/src/styles/utils/colors" as *;
@use "/src/styles/utils/mixins" as *;

.cart-steps {
  &__step {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    padding-bottom: 16px;

    @include on-mobile {
      width: max-content;
      padding-right: 30px; // for extra border
    }

    &--active {
      border-bottom: 1px solid $white;
    }

    @include on-desktop {
      grid-column: span 2;
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 41px;
      height: 41px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 50%;
      color: $white;
      background-color: $neutral-gray;

      &--active {
        color: #000;
        background-color: $white;
      }

      &--completed {
        width: 41px;
        height: 41px;
        background-image: url("./images/icons/check.svg");
        background-position: center;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: $neutral-gray;
    white-space: nowrap;

    &--active {
      color: $white;
    }
  }
}
