@use "/src/styles/utils/mixins" as *;
@use "/src/styles/utils/colors" as *;

.input {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: 1px solid $white;
  border-radius: 50%;
  margin: 0;
  flex-shrink: 0;

  &::before {
    position: absolute;

    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &:checked::before {
    background-color: $white;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border: 1px solid $white;
    border-radius: 32px;
    padding-inline: 13px;
    
    &:hover {
      .input {
        outline-width: 2px;
      }
    }
    
    &-2 {
      box-sizing: border-box;
      width: 100%;
      padding: 13px 16px;
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0 !important;
    }
  }

  &__title {
    margin: 0 !important;
    font-size: 14px;
    color: $white;

    @include on-desktop {
      font-size: 16px;
    }
  }

  &__price {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: $white;
  }
}
