@use "/src/styles/utils/colors" as *;
@use "/src/styles/utils/mixins" as *;

$feedback-padding-on-product-page: 24px;
$feedback-width-on-product-page: 522px;

@keyframes scroll-left {
  to {
    left: -($feedback-width-on-product-page + $feedback-padding-on-product-page);
  }
}

.feedback {
  border: 1px solid $gray;
  border-radius: 16px;

  @include on-tablet {
    margin-bottom: 16px;
  }

  // &:hover {
  //   background-color: $gray;
  //   border-color: #000;
  // }

  &:not(:last-child) {
    @include on-mobile {
      margin-bottom: 16px;
    }
  }

  &--on-product-page {
    // width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 32px;

    @include on-desktop {
      width: $feedback-width-on-product-page;
      padding: $feedback-padding-on-product-page;
    }
  }

  &--animation {
    position: absolute;
    overflow: hidden;

    animation-name: scroll-left;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @include on-tablet {
    grid-column: span 2;
  }

  &__1 {
    @include on-mobile {
      margin-bottom: 16px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__2 {
    @include on-mobile {
      margin-bottom: 16px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__1,
  &__5 {
    @include on-desktop {
      grid-column: 6 / 9;
    }
  }

  &__3 {
    @include on-mobile {
      margin-bottom: 16px;
    }

    @include on-desktop {
      grid-column: 2 / 5;
      margin-bottom: 40px;
    }
  }

  &__4 {
    @include on-mobile {
      margin-bottom: 16px;
    }

    @include on-desktop {
      grid-column: 5 / 8;
      margin-bottom: 40px;
    }
  }

  &__2,
  &__6 {
    @include on-desktop {
      grid-column: 9 / 12;
    }
  }

  &__user {
    display: flex;
    gap: 8px;
    margin: 16px 16px 8px 16px;

    &--on-product-page {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-logo--on-product-page {
      width: 44px;
      height: 44px;
      flex-shrink: 0;

      @include on-desktop {
        width: 88px;
        height: 88px;
      }
    }
  }

  &__username {
    margin: 0;
    color: $white;

    &--on-product-page {
      font-size: 14px;
      margin: 0;
      color: $white;

      @include on-desktop {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  &__description {
    color: $white;
    margin: 0;
    margin: 0 16px 16px;
    font-weight: 500;

    &--on-product-page {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      color: $white;

      @include on-desktop {
        font-size: 16px;
      }
    }
  }

  &__rating--on-product-page {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__stars {
    display: flex;
    gap: 4px;
  }

  &__star {
    width: 16px;
    height: 16px;

    @include on-desktop {
      width: 24px;
      height: 24px;
    }
  }

  &__rate-text {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: $white;

    @include on-desktop {
      font-size: 20px;
    }
  }
}
