@use '/src/styles/utils/colors' as *;
@use '/src/styles/utils/mixins' as *;

.main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: 32px;
    text-align: center;
    color: $white;

    @include on-desktop {
      font-size: 40px;
    }
  }

  &__go-back {
    @include button;
    @include button__link;

    &:hover {
      cursor: pointer;
    }
  }
}