@use "/src/styles/utils/mixins" as *;
@use "/src/styles/utils/colors" as *;

.genres {
  display: flex;

  margin-block: 45px 40px;

  @include on-tablet {
    margin-top: 40px;
  }

  @include on-desktop {
    margin: 50px 0 64px 118px;
  }

  &__title {
    margin: 0;
    color: $white;
    font-size: 16px;
    font-weight: 600;

    @include on-desktop {
      font-size: 20px;
    }

    &-wrap {
      align-self: start;
      width: min-content;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-inline: 16px;

      @include on-desktop {
        gap: 18px;
        margin-inline: 0 18px;
      }
    }
  }

  &__cancel {
    display: none;

    &--active {
      display: inline-block;
      margin-left: 8px;
      background-image: url("/public/images/icons/cancel.svg");
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: inherit;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__stripe {
    width: 28px;
    height: 26px;
    flex-shrink: 0;

    @include on-desktop {
      width: 59px;
      height: 21px;
    }
  }

  &__item {
    width: 100%;
    padding-right: 20px;

    list-style-type: none;

    display: flex;
    align-items: center;

    &--with-cancel {
      padding-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    text-decoration: none;
    color: $white;
    text-transform: capitalize;

    @include on-desktop {
      font-size: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;

    width: min-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    column-gap: 4px;
    row-gap: 16px;

    @include on-desktop {
      column-gap: 64px;
      row-gap: 20px;
    }
  }
}
