@use "/src/styles/utils/_mixins.scss" as *;
@use '/src/styles/utils/colors' as *;

.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__error-number {
    margin: 0;
    color: #fff;
    font-size: 60px;
    font-weight: 600;

    @include on-tablet {
      font-size: 70px;
    }

    @include on-desktop {
      font-size: 150px;
    }
  }

  &__title {
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 400;

    @include on-desktop {
      font-size: 40px;
    }
  }

  &__description {
    text-align: center;
    color: $white;
    margin-block: 10px;

    @include on-desktop {
      font-size: 20px;
    }
  }

  &__button {
    margin-top: 30px;

    @include button;
  }

  &__link {
    text-decoration: none;
    color: #000;

    @include button__link;
  }
}
