@use "/src/styles/utils/colors" as *;
@use "/src/styles/utils/mixins" as *;

.product {
  &__quantity {
    font-size: 16px;
    font-weight: 600;
    color: $white;

    @include on-desktop {
      font-size: 24px;
    }

    &--inactive {
      color: $neutral-gray;
    }

    &-and-delete-wrap {
      display: flex;
      align-items: center;
    }

    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      @include on-desktop {
        gap: 25px;
      }
    }

    &-increment {
      font-size: 24px;
      border: none;
      background: none;
      color: $white;

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        cursor: default;
        color: $gray;
      }
    }

    &-decrement {
      font-size: 24px;
      border: none;
      background: none;
      color: $white;

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        cursor: default;
        color: $gray;
      }
    }
  }
}
